.header {
  position: relative;
  z-index: 10;

  .carousel {
    &-item {
      height: 80rem;
      // width: 100%;

      &--img {
        position: absolute;
        object-fit: cover;
        top: -50rem;
        left: 0;
        overflow: hidden;
        width: 100%;
        /* min-height: 80rem; */
        /* opacity: 0.8; */
        -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
        filter: grayscale(20%);
      }
    }
    &-caption {
      position: absolute;
      font-size: 2rem;
      font-weight: 800;
      width: 70rem;
      background-color: rgb(138, 91, 30);
      transform: translate(30rem, -40rem);
      opacity: 0.7;
      border-radius: 3rem;
      &--text {
        position: relative;
        font-size: 4rem;
        font-weight: 800;
        text-transform: uppercase;
        color: whitesmoke;
      }
      .btn-search {
        position: relative;
        text-transform: uppercase;
        font-size: 2rem;
        margin: 1.5rem;
        font-weight: 800;
      }
    }
  }
}
